<div class="jumbotron">
	<h1>Welcome to TvShows!</h1>
	<p>Here you will find everything about your favorite TV shows ;v</p>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-success">
			<div class="panel-heading">
				<b>Take a look at the latest TV shows:</b>
			</div>
			<div class="panel-body">
				<div class="row">
					<!-- We will populate this area with the actual TV Shows -->
					<div class="col-sm-6">
						<div class="list-group">
							<a href="#" class="list-group-item"><span class="text-info">Programa 1</span></a>
							<a href="#" class="list-group-item"><span class="text-info">Programa 2</span></a>
							<a href="#" class="list-group-item"><span class="text-info">Programa 3</span></a>
							<a href="#" class="list-group-item"><span class="text-info">Programa 4</span></a>
							<a href="#" class="list-group-item"><span class="text-info">Programa 5</span></a>
						</div>
					</div>
					<div class="col-sm-6">
						<a href="#" class="list-group-item"><span class="text-info">Programa 6</span></a>
						<a href="#" class="list-group-item"><span class="text-info">Programa 7</span></a>
						<a href="#" class="list-group-item"><span class="text-info">Programa 8</span></a>
						<a href="#" class="list-group-item"><span class="text-info">Programa 9</span></a>
						<a href="#" class="list-group-item"><span class="text-info">Programa 10</span></a>
					</div>
				</div>
				<br>
				<a href="#" class="btn btn-success">Show all TV shows!</a>
			</div>
		</div>
	</div>
</div>